<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image_url</key>
		<string>LogoCinemark</string>
		<key>name</key>
		<string>Cinemark</string>
		<key>itemID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>image_url</key>
		<string>LogoCineHoyts</string>
		<key>name</key>
		<string>Hoyts Santiago</string>
		<key>itemID</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>image_url</key>
		<string>LogoCineHoyts</string>
		<key>name</key>
		<string>Hoyts Regiones</string>
		<key>itemID</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>image_url</key>
		<string>LogoCineplanet</string>
		<key>name</key>
		<string>Cineplanet</string>
		<key>itemID</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>image_url</key>
		<string>LogoCinePavilion</string>
		<key>name</key>
		<string>Cine Pavilion</string>
		<key>itemID</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>itemID</key>
		<integer>7</integer>
		<key>name</key>
		<string>CineStar</string>
		<key>image_url</key>
		<string>LogoCineStar</string>
	</dict>
	<dict>
		<key>image_url</key>
		<string></string>
		<key>name</key>
		<string>Independientes</string>
		<key>itemID</key>
		<integer>5</integer>
	</dict>
</array>
</plist>
