<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>IconCinemas</string>
		<key>storyboardID</key>
		<string>CinesVC</string>
		<key>name</key>
		<string>Todos los Cines</string>
	</dict>
	<dict>
		<key>image</key>
		<string>IconFavorites</string>
		<key>storyboardID</key>
		<string>FavoritesVC</string>
		<key>name</key>
		<string>Cines Favoritos</string>
	</dict>
	<dict>
		<key>image</key>
		<string>IconCloseTheaters</string>
		<key>storyboardID</key>
		<string>CloseTheatersVC</string>
		<key>name</key>
		<string>Cines Cercanos</string>
	</dict>
	<dict>
		<key>image</key>
		<string>IconCartelera</string>
		<key>storyboardID</key>
		<string>CarteleraVC</string>
		<key>name</key>
		<string>Cartelera</string>
	</dict>
	<dict>
		<key>image</key>
		<string>IconComingSoon</string>
		<key>storyboardID</key>
		<string>ComingSoonVC</string>
		<key>name</key>
		<string>Próximos Estrenos</string>
	</dict>
	<dict>
		<key>image</key>
		<string>IconMenuVideos</string>
		<key>storyboardID</key>
		<string>VideosVC</string>
		<key>name</key>
		<string>Videos</string>
	</dict>
	<dict>
		<key>image</key>
		<string>IconSettings</string>
		<key>storyboardID</key>
		<string>SettingsVC</string>
		<key>name</key>
		<string>Ajustes</string>
	</dict>
	<dict>
		<key>image</key>
		<string>IconSettings</string>
		<key>storyboardID</key>
		<string>CuponesVC</string>
		<key>name</key>
		<string>Cupones</string>
	</dict>
</array>
</plist>
